@media (max-width: 992px) {
    .topbar-container {
        font-size: 12px;
        gap: 6px;
    }

    .left span,
    .right span,
    .connect span {
        font-size: 12px;
    }

    .topbar .social-icons i {
        font-size: 14px;
    }

    .topbar .social-icons {
        gap: 14px;
    }

    .logo-img {
        width: 50px;
    }

    nav .nav-menu {
        display: none;
    }

    .header-right {
        display: none;
        font-size: 25px;
    }

    .hamburger {
        display: block !important;
    }

    .fa-bars:before,
    .fa-navicon:before {
        content: "\f0c9";
        font-size: 32px;
    }

    .hero {
        flex-direction: column;
    }

    .hero-inner {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hero-right {
        order: 2;
        width: 100%;
        justify-content: center;
    }

    .about-section {
        flex-direction: column-reverse;
        padding: 0 20px;
        text-align: center;
    }

    .img-wrapper {
        margin: 0 auto;
    }

    .about-right {
        width: 100%;
    }

    .services-wrapper {
        flex-direction: column;
    }

    .service-card {
        width: 100%;
    }

    .stats-container {
        flex-direction: column;
        text-align: center;
    }

    .stats-right {
        width: 100%;
    }

    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .agency-container {
        gap: 40px;
        margin: 0px;
    }

    .agency-section {
        flex-direction: column;
        padding: 0px;
    }

    .agency-inner {
        flex-direction: column;
        text-align: center;
    }

    .blue-bg {
        width: 302px;
        height: 414px;
    }

    .collage {
        justify-content: center;
    }

    .testimonials-inner {
        flex-direction: column;
        gap: 40px;
    }

    .testimonials-right {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-content {
        width: 100%;
    }

    .contact-inner {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .logo-img {
        width: 270px;
    }

    .hero {
        margin-top: 70px;
    }

    .image-wrap {
        margin: auto;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .subscribe-bar {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .subscribe-right {
        width: 100%;
    }

}

@media (max-width: 768px) {

    body {}

    .container {
        width: 94%;
        padding: 0px 15px;
    }

    .topbar-container {
        display: none;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .about-section {
        margin: 20px auto;
    }

    .about-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        text-align: start;
        max-width: 400px;
    }

    .small-img {
        width: 151px;
        right: -44px;
        bottom: 160px;
    }

    .main-img {
        width: 80%;
    }

    .logo-img {
        width: 230px;
    }

    .hero-content {
        text-align: center;
    }

    .main-img {
        width: 100%;
        max-width: 380px;
    }

    .experience-box {
        left: 10px;
        bottom: -40px;
    }

    .service-card {
        padding: 26px;
    }

    .work-grid {
        grid-template-columns: 1fr;
    }

    .left-stack img {
        width: 220px;
        height: 220px;
    }

    .right-large img {
        width: 240px;
        height: 360px;
    }

    .pricing-card {
        width: 100%;
        max-width: 100%;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .field-grid {
        grid-template-columns: 1fr;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .topbar-container {
        display: none;
    }

    .logo-text {
        font-size: 16px;
    }

    .call-us {
        display: none;
    }


    .hero-content h1 {
        font-size: 38px;
        line-height: 1.3;
    }

    .hero-sub {
        font-size: 14px;
    }

    .about-right h2 {
        font-size: 28px;
    }

    .header-right i {
        display: none;
    }

    .logo-img {
        width: 214px;
    }

    .logo-text {
        width: 170px;
    }

    .fa-bars:before,
    .fa-navicon:before {
        content: "\f0c9";
        font-size: 25px;
    }

    .hero-right {
        min-height: 410px;
    }

    .services-section {
        padding: 0 20px;
    }

    .services-top h2 {
        font-size: 25px !important;
    }

    .services-cta {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .features li {
        font-size: 13px;
    }

    .about-section {
        padding: 0 20px;
    }

    .small-img {
        display: none;
    }

    .experience-box {
        bottom: -60px;
        left: 0;
    }

    .services-top h2 {
        font-size: 32px;
    }

    .work-card img {
        height: 200px;
    }

    .title {
        font-size: 34px;
    }

    .main-title {
        font-size: 28px;
    }

    .testimonial-card {
        width: 100%;
    }

    .card-content {
        width: 100%;
    }

    .heading {
        font-size: 32px;
    }

    .subscribe-left {
        flex-direction: column;
        text-align: center;
    }

    .subscribe-title {
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 13px;
    }

    .stats-section {
        padding: 0px 20px;
    }

    .stats-middle-bar {
        display: none;
    }

    .stats-container {
        gap: 15px;
    }

    .stats-number {
        line-height: 0.9;
    }

    .stats-right {
        text-align: center;
        font-size: 14px;
    }

    .work-showcase {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        align-items: center;
    }

    .work-card {
        height: 300px;
        width: 350px;
    }

    .work-card img {
        height: 300px;
        width: 350px;
    }

    .collage {
        max-width: 100%;
        height: auto;
    }

    .agency-container {
        padding: 40px 20px;
    }

    .benefits-card {
        width: 360px;
    }

    .content {
        text-align: center;
    }

    .testimonials-inner {
        flex-direction: column;
    }

    .testimonials-section {
        padding: 30px 20px;
        height: auto;
        text-align: center;
    }

    .testimonial-card {
        flex: 0 0 200px;
    }

    .testimonials-right {
        gap: 60px;
    }

    .testimonials-inner {
        gap: 70px;
    }

    .testimonial-header {
        padding-top: 25px;
    }

    .testimonial-text {
        font-size: 15px;
        padding-top: 18px;
        padding-right: 0px;
    }

    .testimonial-card {
        padding: 20px 20px 20px 20px;
    }

    .section-title {
        margin: 0 0 14px;
        font-size: 35px;
    }

    .pagination-dots {
        justify-content: center;
    }

    .blog-section {
        padding: 30px 20px;
        height: auto;
        text-align: center;
    }

    .blog-container {
        position: unset;
        top: 0px;
        left: 0px;
        display: contents;
    }

    .cards {
        grid-template-columns: repeat(1, 3fr);
    }

    .contact-section {
        padding: 30px 20px;
        font-family: "Manrope", sans-serif;
        overflow: hidden;
        margin-top: 30px;
        background-color: #fff;
    }

    .contact-inner {
        gap: 0px;
    }

    footer {
        padding: 30px 20px;
    }

    .subscribe-left img {
        width: 35px;
    }

    .subscribe-left {
        flex-direction: row;
        text-align: center;
    }

    .subscribe-left h2 {
        font-size: 1.2rem;
    }

    .brand {
        justify-content: center;
    }

    .social-row {
        justify-content: center;
    }

    .contact-row {
        justify-content: center;
    }
    .mobile-menu.active {
  display: block;
} 
 .mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background: white;
    width: 200px;
    padding: 20px;
  }

  .mobile-menu.active {
    display: block;
  }
}